In [3]:
# Creating Year-Month Column
import pandas as pd

df = pd.read_csv("../data/raw/superstore.csv", encoding="latin1")
df['Order Date'] = pd.to_datetime(df['Order Date'])

In [4]:
# Create YearMonth
df['YearMonth'] = df['Order Date'].dt.to_period('M')

In [5]:
# Aggregate Monthly Sales
monthly_df = df.groupby('YearMonth').agg({
    'Sales': 'sum',
    'Profit': 'sum',
    'Quantity': 'sum',
    'Discount': 'mean'
}).reset_index()

In [6]:
# Convert Period to Timestamp
monthly_df['YearMonth'] = monthly_df['YearMonth'].dt.to_timestamp()
monthly_df.head()

   YearMonth      Sales     Profit  Quantity  Discount
0 2014-01-01  14236.895  2450.1907       284  0.126582
1 2014-02-01   4519.892   862.3084       159  0.176087
2 2014-03-01  55691.009   498.7299       585  0.167516
3 2014-04-01  28295.345  3488.8352       536  0.110000
4 2014-05-01  23648.287  2738.7096       466  0.155328

In [7]:
# Feature Engineering
monthly_df['Year'] = monthly_df['YearMonth'].dt.year
monthly_df['Month'] = monthly_df['YearMonth'].dt.month

In [8]:
# Lag Features
monthly_df['Sales_Lag_1'] = monthly_df['Sales'].shift(1)
monthly_df['Sales_Lag_2'] = monthly_df['Sales'].shift(2)
monthly_df['Sales_Lag_3'] = monthly_df['Sales'].shift(3)

In [9]:
# Rolling Mean (Smoothing the trend)
monthly_df['Sales_Rolling_3'] = monthly_df['Sales'].rolling(3).mean()

In [10]:
# Drop NaNs
monthly_df.dropna(inplace=True)

In [11]:
# Train-Test Split
train_size = int(len(monthly_df) * 0.8)

train_df = monthly_df.iloc[:train_size]
test_df = monthly_df.iloc[train_size:]

In [13]:
# Saved Processed data
monthly_df.to_csv("../data/processed/monthly_sales.csv", index=False)